<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true" use-expressions="false">

        <intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/**" access="ROLE_USER"/>

        <form-login
                login-page="/"
                authentication-failure-url="/?error"
                default-target-url="/order"
                always-use-default-target="true"
                username-parameter="username"
                password-parameter="password"/>
        <logout logout-success-url="/?logout"/>
        <csrf disabled="true"/>
        <session-management>
            <concurrency-control max-sessions="1"/>
        </session-management>
    </http>

    <beans:bean id="userSecurity" class="com.jtmog.alukyanov.security.AuthProviderImpl"/>

    <authentication-manager>
        <authentication-provider ref="userSecurity">
        </authentication-provider>
    </authentication-manager>

</beans:beans>