.jlab-row {
    grid-gap: 2px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

div.row-1 {
    grid-column-end: span 1;
}

div.row-2 {
    grid-column-end: span 2;
}

div.row-3 {
    grid-column-end: span 3;
}

div.row-4 {
    grid-column-end: span 4;
}

div.row-5 {
    grid-column-end: span 5;
}

div.row-6 {
    grid-column-end: span 6;
}

div.row-7 {
    grid-column-end: span 7;
}

div.row-8 {
    grid-column-end: span 8;
}

div.row-9 {
    grid-column-end: span 9;
}

div.row-10 {
    grid-column-end: span 10;
}

div.row-11 {
    grid-column-end: span 11;
}

div.row-12 {
    grid-column-end: span 12;
}

/*Grid*/
/*.jlab-row div {*/
/*    border: 1px solid #212941;*/
/*    font-size: 18px;*/
/*}*/
