<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User edit form</title>
</head>
<body>

<form method="post" th:action="@{/user}">
    <input type="hidden" th:value="${user.id}" th:name="userId">
    <p>
        <label>User name:
            <input th:type="text" th:name="username" th:value="${user.username}">
        </label>
    </p>
    <p>
        <div th:each="role : ${roles}">
            <label>[[${role}]]:
                <input type="checkbox" th:name="${role}" th:checked="${#sets.contains(user.roles, role)}">
            </label>
        </div>
    </p>
    <p>
        <label>Password:
            <input th:type="text" th:name="password" th:value="${user.password}">
        </label>
    </p>
    <p>
        <input type="submit" value="Save">
    </p>
</form>
</body>
</html>